@import "variables";
$navbarHeight: 50px;

body {
  min-height: 100vh;

  > nav {
    height: $navbarHeight !important;
  }
}

.full-height {
  min-height: calc(100vh - #{$navbarHeight});
}

.row {
  margin: 0;
}

.services > .card {
  padding: 0;
}

.service-card > div {
  cursor: pointer;
  user-select: none;
}

$day-width: 59px;
.card-text {
  span {
    display: inline-block;
    min-width: $day-width !important;
  }
}

.service-info {
  white-space: nowrap;
}

.doctors-name > span {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.one-line {
  overflow: hidden;
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

/* admin */
.new-service {
  min-height: calc(100vh - #{$navbarHeight});
}

#form-container button {
  height: 33.5px;
}

.input-valid-text {
  user-select: none;
}

.table-patient-list {
  width: 1280px;

  > tbody > tr > td {
    & {
      vertical-align: middle;
      text-align: center;
    }

    &:nth-child(2),
    &:nth-child(3) {
      text-align: left;
    }
  }
}

.table-doctor-list {
  max-width: 2100px;
  min-width: 760px;
  width: 100%;

  > tbody > tr > td {
    vertical-align: middle;

    &:not(.doctor-schedule) {
      text-align: center;
    }
  }
}

.doctor-schedule {
  span.day {
    display: inline-block;
    min-width: $day-width !important;
  }
}
